@charset "utf-8";






@media(min-width:0px){
    #gnb,
    #sitelink .home,
    #sitelink .kor,
    #sitelink .sitemap,
    #remote{display:none}
    #sitelink #open_mn{display:inline-block;margin-top:26px;margin-right:15px;}
    #content{float:none;width:100%;padding:70px 0 0 0;}
    #container {background:#fff;}
    #lnb_hm .nav_hm{display:none;}
}
@media(min-width:768px){

}
@media(min-width:1024px){

    #lnb_hm .nav_hm{display:inline-block;}
    #sitelink .home,
    #sitelink .kor,
    #sitelink .sitemap{display:inline-block}
    #sitelink #open_mn{display:none;}
    #gnb,
    #remote{display:block}
    #container {background:#fff;padding-bottom:50px;}
    #content{float:none;width:100%;}

}
@media(min-width:1200px){
}

